 /*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */
 /*
form{
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: bisque;
    padding: 20px;
    border-radius: 20px;
}
 label{
    font-weight: bold;
    margin-bottom: 5px;
    color: rgb(0, 0, 0);
 }
div {
    margin-bottom: 15px;
    justify-content: center;
 }
 
 input[type="submit"],
 a,
 button {
    background-color: rgb(0, 0, 0);
    margin: 20px;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    display: inline-flex;
 } */